*.o
*.a
.deps
*.stamp
*.swp
*.lo

/gdb/doc
/Makefile
/bfd/.libs/
/bfd/Makefile
/bfd/config.cache
/bfd/config.h
/bfd/config.log
/bfd/config.status
/bfd/doc/Makefile
/bfd/elf32-aarch64.c
/bfd/elf64-aarch64.c
/bfd/libbfd.la
/bfd/libtool
/bfd/po/BLD-POTFILES
/bfd/po/Makefile
/bfd/po/Makefile.in
/bfd/po/SRC-POTFILES
/bfd/stamp-h1
/bfd/stamp-lib
/bfd/stamp-ofiles
/config.log
/config.status
/etc/Makefile
/etc/config.cache
/etc/config.log
/etc/config.status
/gdb/config.cache
/gdb/config.h
/gdb/config.log
/gdb/config.status
/gdb/data-directory/stamp-guile
/gdb/data-directory/stamp-python
/gdb/data-directory/stamp-syscalls
/gdb/data-directory/stamp-system-gdbinit
/gdb/doc/GDBvn.texi
/gdb/doc/gdb-cfg.texi
/gdb/doc/version.subst
/gdb/gdb-gdb.py
/gdb/init.l-tmp
/gdb/stamp-h
/gdb/stamp-init
/gdb/stamp-version
/gdb/stamp-xml
/gdb/testsuite/config.log
/gdb/testsuite/config.status
/gdbsupport/Makefile
/gdbsupport/config.cache
/gdbsupport/config.h
/gdbsupport/config.log
/gdbsupport/config.status
/gdbsupport/stamp-h1
/gnulib/Makefile
/gnulib/config.cache
/gnulib/config.h
/gnulib/config.log
/gnulib/config.status
/gnulib/import/Makefile
/gnulib/import/alloca.h
/gnulib/import/arpa/
/gnulib/import/ctype.h
/gnulib/import/dirent.h
/gnulib/import/fcntl.h
/gnulib/import/glthread/.dirstamp
/gnulib/import/inttypes.h
/gnulib/import/limits.h
/gnulib/import/locale.h
/gnulib/import/malloc/.dirstamp
/gnulib/import/math.h
/gnulib/import/signal.h
/gnulib/import/stdio.h
/gnulib/import/stdlib.h
/gnulib/import/string.h
/gnulib/import/sys/
/gnulib/import/time.h
/gnulib/import/unistd.h
/gnulib/import/wchar.h
/gnulib/import/wctype.h
/gnulib/stamp-h1
/intl/Makefile
/intl/config.cache
/intl/config.h
/intl/config.intl
/intl/config.log
/intl/config.status
/libctf/.libs/
/libctf/Makefile
/libctf/config.cache
/libctf/config.h
/libctf/config.log
/libctf/config.status
/libctf/libctf-nobfd.la
/libctf/libctf.la
/libctf/libtool
/libctf/stamp-h1
/libdecnumber/Makefile
/libdecnumber/config.cache
/libdecnumber/config.h
/libdecnumber/config.log
/libdecnumber/config.status
/libdecnumber/stamp-h1
/libiberty/Makefile
/libiberty/config.cache
/libiberty/config.h
/libiberty/config.log
/libiberty/config.status
/libiberty/stamp-h
/libiberty/stamp-noasandir
/libiberty/stamp-picdir
/libiberty/testsuite/Makefile
/opcodes/.libs/
/opcodes/Makefile
/opcodes/config.cache
/opcodes/config.h
/opcodes/config.log
/opcodes/config.status
/opcodes/libopcodes.la
/opcodes/libtool
/opcodes/po/Makefile
/opcodes/po/Makefile.in
/opcodes/po/POTFILES
/opcodes/stamp-h1
/opcodes/stamp-lib
/readline/Makefile
/serdep.tmp
/sim/Makefile
/sim/aarch64/.gdbinit
/sim/aarch64/Makefile
/sim/aarch64/config.h
/sim/aarch64/config.log
/sim/aarch64/config.status
/sim/aarch64/libtool
/sim/aarch64/stamp-h
/sim/aarch64/stamp-tvals
/sim/config.cache
/sim/config.log
/sim/config.status
/sim/testsuite/Makefile
/sim/testsuite/config.log
/sim/testsuite/config.status
/zlib/Makefile
/zlib/config.cache
/zlib/config.log
/zlib/config.status
/zlib/libtool
